/* body css sito totale */
body, html {
    height: 100%;
    margin: 0;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
}

/* navbar componente */
.navbar{
    font-weight: bold!important;
    position: relative!important;
    background-color:#0c161f;
}

nav .navbar-nav li a{
    color: white!important;
}

nav a{
    color:white!important;
}


/* footer componente */

footer{
    background-color: rgba(12, 22, 31, 1);
    color: white;
}
.footer-copyright{
    border-top: solid black 1px;
}

@media only screen and (max-width: 700px) {
    .list-unstyledIcon {
        display: flex;
        justify-content: center;
    }
}


/* index.php */
.headerIndex {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../immagini/indexImage/sfondoAereo.jpeg"); 
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cent-title{
    text-align: center;
    padding: 5rem;
}

.titolo{
    position: relative;
    text-align: center;
    margin-top:4%;
    margin-bottom: 5%;
    font-size: 5rem;
    color: white;
}


.sub-titolo{
    position: relative;
    color: white;
    text-align: center;
    margin-top:20px;
    margin-bottom: auto;
}
/* disposizione a tabella di foto e descrizione  */

.title-desc {
    margin-bottom: 40px;
}
.col-container {
    display: flex;
    padding: 0!important;
    margin: 100px;
}
.col1 {
    margin-right:13%;
}


.container-par{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.title-par {
    margin-bottom: 3rem;
}


@media only screen and (max-width: 1000px) {
    .col  {
      text-align: center;
      display: block!important;
      width: 100%!important;
      padding:0!important;  
    }
    .col-container {
        display: table!important;
    } 
    .col1 {
        margin-top: 2rem;
        margin-bottom :3rem;
        margin-right:0!important;
    }
    .img-brand {
        display: block!important;
    }
    
    

}
.pic {
    max-width: 100%;
    max-height: 100%;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 47px;
    margin-left: -10px;
    border-color: rgb(58, 57, 57);
    border-style: groove;
    border-width: 2px;
}

.img-brand {
    display: flex;
    justify-content: space-between;
}
.logo-brand{
    width: 100px;
    height: 100px;
}


/* reg.php */
.reg{
    width: 50%;
    margin: auto;
    margin-top:100px;
    margin-bottom: 100px;
}


.btn-success{
    margin: 0 0.5% 0 auto;
    width: 150px !important;
}

.headerReg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../immagini/registrazione/registrazione.jpg"); 
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* c.php */
.carousel {
    height: 70%!important;
    z-index: -1!important;
}
.carousel-inner{
    height: 100%;
}
.carousel-item img {
    max-width: 100%!important;
    min-width: 100%!important;
}


.search-sec{
    padding: 2rem;
    background: transparent;
    margin-top: -250px;
    margin-bottom: 10rem;
}

.search-sec h2{
    text-align: left;
    color: #0c161f;
}

.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
/* log-in */

.headerLog-in {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../immagini/login/airplane.jpg"); 
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}




/* pagina biglietti.php */
.table {
    table-layout: fixed;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 700px) {
   .table {
       font-size: 10px;
   }

}
.cart-icon{
    width: 20px;
    height: 20px;
}
.alitalia-icon{
    width: 60px;
    height: 30px;
}
@media only screen and (max-width: 700px) {
    .alitalia-icon{
        width: 40px;
        height: 20px;
    }
}

/* carrello.php */

.cart-container {
    display: flex;
    margin-top:50px;
    margin-bottom:50px;
}
.cart {
    width: 60%!important;
}
.cart-card {
    max-width: 100%!important;
    min-width: 100%!important;
}
.conto {
    width:40%!important; 
    height: 200px;
    position: sticky;
    top:0;
    right:0;
    margin:20px;
}

@media only screen and (max-width: 700px) {
    .cart-container {
        display: block!important;
        margin-top:50px;
        margin-bottom:50px;
        justify-content: center!important;
    }
    .conto {
        width: 100%!important;
    }
}

@media only screen and (max-width: 700px) {
    
    .cart {
        width: 100%!important;
    }
}



/* pannello di controllo amministratore */
.control-panel {
    padding-bottom: 50px
}
.control-panel img {
    margin:1rem;
}

.control-panel-option a button {
   max-width: 80%;
   min-width: 80%;
}
   


/* pagina show user */


/* cercaBiglietti */
@media only screen and (max-width: 600px) {
    
    .form-elem {
        width: 100%!important;
    }
}

.card-group  {
    margin: auto!important;
    width: 80%!important;
    margin-bottom: 50px!important;
    
}

.card{
    padding: 20px;
    
}

@media only screen and (max-width: 700px) {
    
    .card-group {
        display: block!important;
    }
}

/* cardsOffer */

